.bbheader {
    border: 5px solid blueviolet;
    width: 310px;
    border-radius: 10px;
    text-align:center;
    background-color: pink;

}

img{
    border: 10px;
    width: 200px;
    border-style:solid ;
    border-color: rgb(47, 220, 243);
    border-radius: 50%;


}
h1{
    font-family: fantasy;
    color:deeppink;
    font-size: xlarge;
    text-decoration: underline wavy;
    text-decoration-color: darkblue;
    text-transform: uppercase;
}