#bigboy {
    font-family: 'Prata', serif;
    color:white;
}
#bigboy:hover {
    font-family: 'Prata', serif;
    color:#C8B6FF;
}
h1 {
    font-family: 'Prata', serif;
    color:#111958;
}

/* #navbar ul {
   display: inline;
   background-color: #E7C6FF;
}
original code for my navbar
nav {
    background: #E7C6FF;
    text-align: center;
} */ 

html {
    background:#FFD6FF;
    font-family:'Prata', serif;
    
}

main {
    background:#FFD6FF;
    font-family:'Prata', serif;
    
}
body {
    background:#FFD6FF;
    font-family:'Prata', serif;
}
#mainnavbar .navbar-brand {
    color:white;
    font-size: 2.5rem;
}

#mainnavbar {
    font-size: 1.5rem;
    font-weight: 100;
    
}
#mainnavbar .nav-link {
    color: white;
}
#mainnavbar .nav-link:hover {
    color: #C8B6FF;
  
}
.navbar.scrolled {
    background: black ;
    transition: background 200ms;
}

#blogpost{
    text-decoration: underline;
}
.makeitbig {
    font-size: 1.5em;
    font-style: italic;
}
p.space {
    text-align: center;
}
p.maininfo{
    color: #C8B6FF;
    font-size: 2.5rem;
}
